*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	background: #f0f0f0;
	font:14px/20px Arial, Sans-Serif;
	color: #555;
	margin: 0;
}
h1{
	text-align: center;
	font-size: 180%;
	line-height: 120%;
	padding: 5% 0;
}
h2 {
	text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
}
h3 {
	line-height: 110%;
	padding:5% 0;
}
p {
	padding: 1%;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
a{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
header {
	background: #405580;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90;
}
#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url("../img/logo.png");
}
nav{
	float: right;
	padding: 35px 20px 20px 0;
}

ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px;
}
section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
.current {
	color: $FFF;
	text-decoration: underline;

}
#page-top{
	margin: 40px 0;
}
#content{
	margin: 0 auto;
	max-width: 1140px;
}
.blueberry{
	margin-top: 110px;
}
.clear{
	clear: both;
}
article{
	float: left;
	margin: 0 auto;
	width: 90%;
	height: auto;
	padding: 4%;
}

footer{
	background: $333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
}
footer p, footer h3 {
	color: #FFF;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
footer.second {
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}